In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
car_data=pd.read_csv("datasets/car/car_data.csv")
dekho=pd.read_csv("datasets/car/CAR DETAILS FROM CAR DEKHO.csv")
details=pd.read_csv("datasets/car/Car details v3.csv")
detail4=pd.read_csv("datasets/car/car details v4.csv")

In [24]:
car_data.rename(str.capitalize, axis="columns", inplace=True)

In [72]:
car_data.rename(columns={"Car_name":"Name","Kms_driven":"Km_driven"},inplace=True)

In [73]:
car_data

,Name,Year,Selling_price,Present_price,Km_driven,Fuel_type,Seller_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [21]:
dekho.rename(str.capitalize, axis="columns", inplace=True)
dekho

,Name,Year,Selling_price,Km_driven,Fuel,Seller_type,Transmission,Owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [23]:
details.rename(str.capitalize, axis="columns", inplace=True)
details

,Name,Year,Selling_price,Km_driven,Fuel,Seller_type,Transmission,Owner,Mileage,Engine,Max_power,Torque,Seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [66]:
detail4=pd.read_csv("datasets/car/car details v4.csv")
detail4.rename(str.capitalize, axis="columns", inplace=True)
detail4.rename(columns={"Fuel type":"Fuel","Price":"Selling_price","Kilometer":"Km_driven","Seller type":"Seller_type","Max power":"Max_power","Max torque":"Torque","Seating capacity":"Seat"}, inplace=True)

In [67]:
detail4["Name"]=detail4["Make"]+" "+detail4["Model"]

In [68]:
detail4.drop(["Make","Model"],axis=1, inplace=True)

In [69]:
detail4

,Selling_price,Year,Km_driven,Fuel,Transmission,Location,Color,Owner,Seller_type,Engine,Max_power,Torque,Drivetrain,Length,Width,Height,Seat,Fuel tank capacity,Name
0,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0,Honda Amaze 1.2 VX i-VTEC
1,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0,Maruti Suzuki Swift DZire VDI
2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0,Hyundai i10 Magna 1.2 Kappa2
3,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0,Toyota Glanza G
4,1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0,Toyota Innova 2.4 VX 7 STR [2016-2020]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179 cc,138 bhp @ 3750 rpm,330 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0,Mahindra XUV500 W8 [2015-2017]
2055,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814 cc,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,FWD,3495.0,1550.0,1500.0,5.0,32.0,Hyundai Eon D-Lite +
2056,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196 cc,70 bhp @ 6250 rpm,102 Nm @ 4000 rpm,FWD,3795.0,1680.0,1427.0,5.0,45.0,Ford Figo Duratec Petrol ZXI 1.2
2057,4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995 cc,188 bhp @ 4000 rpm,400 Nm @ 1750 rpm,RWD,4936.0,1868.0,1479.0,5.0,65.0,BMW 5-Series 520d Luxury Line [2017-2019]
2058,670000,2017,72000,Diesel,Manual,Guwahati,White,First,Individual,1493 cc,70 bhp @ 3600 rpm,195 Nm @ 1400 rpm,RWD,3995.0,1745.0,1880.0,7.0,NaN,Mahindra Bolero Power Plus ZLX [2016-2019]

In [76]:
df=pd.concat([details,detail4,car_data,dekho],ignore_index=True)

In [77]:
df

,Name,Year,Selling_price,Km_driven,Fuel,Seller_type,Transmission,Owner,Mileage,Engine,...,Location,Color,Drivetrain,Length,Width,Height,Seat,Fuel tank capacity,Present_price,Fuel_type
0,Maruti Swift Dzire VDI,2014,450000.0,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Skoda Rapid 1.5 TDI Ambition,2014,370000.0,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Honda City 2017-2020 EXi,2006,158000.0,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hyundai i20 Sportz Diesel,2010,225000.0,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Maruti Swift VXI BSIII,2007,130000.0,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14823,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999.0,80000,Diesel,Individual,Manual,Second Owner,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14824,Hyundai i20 Magna 1.4 CRDi,2014,409999.0,80000,Diesel,Individual,Manual,Second Owner,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14825,Maruti 800 AC BSIII,2009,110000.0,83000,Petrol,Individual,Manual,Second Owner,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14826,Hyundai Creta 1.6 CRDi SX Option,2016,865000.0,90000,Diesel,Individual,Manual,First Owner,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14827,Renault KWID RXT,2016,225000.0,40000,Petrol,Individual,Manual,First Owner,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14828 entries, 0 to 14827
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                14828 non-null  object
 1   Year                14828 non-null  int64
 2   Selling_price       14828 non-null  float64
 3   Km_driven           14828 non-null  int64
 4   Fuel                14527 non-null  object
 5   Seller_type         14828 non-null  object
 6   Transmission        14828 non-null  object
 7   Owner               14828 non-null  object
 8   Mileage             7907 non-null   object
 9   Engine              9886 non-null   object
 10  Max_power           9892 non-null   object
 11  Torque              9885 non-null   object
 12  Seats               7907 non-null   float64
 13  Location            2059 non-null   object
 14  Color               2059 non-null   object
 15  Drivetrain          1923 non-null   object
 16  Length              1995 non-null   float64
 17  Width               1995 non-null   float64
 18  Height              1995 non-null   float64
 19  Seat                1995 non-null   float64
 20  Fuel tank capacity  1946 non-null   float64
 21  Present_price       301 non-null    float64
 22  Fuel_type           301 non-null    object
dtypes: float64(8), int64(2), object(13)
memory usage: 2.6+ MB

In [82]:
df_cat=df.select_dtypes(include="object")

In [84]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14828 entries, 0 to 14827
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          14828 non-null  object
 1   Fuel          14527 non-null  object
 2   Seller_type   14828 non-null  object
 3   Transmission  14828 non-null  object
 4   Owner         14828 non-null  object
 5   Mileage       7907 non-null   object
 6   Engine        9886 non-null   object
 7   Max_power     9892 non-null   object
 8   Torque        9885 non-null   object
 9   Location      2059 non-null   object
 10  Color         2059 non-null   object
 11  Drivetrain    1923 non-null   object
 12  Fuel_type     301 non-null    object
dtypes: object(13)
memory usage: 1.5+ MB